/* globals */
body {
  font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

/* header */
#header {
  font-family: 'Cabin', sans-serif;
}
#header .navSocial .nav-item {
  filter: saturate(.45);
  transition: filter .25s;
}
#header .navSocial .nav-item:hover {
  filter: none;
}

/* main section */
#main {
  margin-top: 4rem;
}

/* footer section */

/* blog home */
.homePosts .homePost {
  margin: auto;
  max-width: 44rem;
}
.homePosts .homePost .homePostImage {
  background-color: pink;
  display: block;
  max-width: 24rem;
  width: 100%;
}
.homePosts .homePost .homePostImage::before {
  content: '';
  display: block;
  padding-top: 61.8%;
}
@media only screen and (min-width: 48rem) {
  .homePosts .homePost .homePostImage {
    width: 12rem;
  }
  .homePosts .homePost .homePostImage::before {
    padding-top: 75%;
  }
}
@media only screen and (min-width: 62rem) {
  .homePosts .homePost .homePostImage {
    margin-left: -6rem;
    width: 18rem;
  }
  .homePosts .homePost .homePostImage::before {
    padding-top: 61.8%;
  }
}
.homePosts .homePost .homePostTitle {
  font-size: 1.75rem;
  font-weight: normal;
}
.homePosts .homePost .homePostTitle a {
  color: inherit;
  text-decoration: inherit;
}
.homePosts .homePost .homePostSubtitle {
  color: #757575;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
}
.homePosts .homePost .homePostMeta {
  color: #757575;
}
.homePosts .homePost .homePostMeta .homePostMetaItem {
  display: inline-block;
  margin-right: 1rem;
}
.homePosts .homePost .homePostMeta a {
  color: inherit;
  text-decoration: inherit;
}
.homePosts hr {
  max-width: 44rem;
}

/* article related - single/page */
.articleContainer {
  margin: auto;
  max-width: 44rem;
}
.articleHeader .articleTitle {
  font-family: 'Lora', serif;
  font-size: 2.125rem;
}
@media only screen and (min-width: 62rem) {
  .articleHeader .articleTitle {
    font-size: 2.625rem;
  }
}
.articleHeader .articleSubtitle {
  color: #757575;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
}
.articleHeader .articleMeta {
  color: #757575;
}
.articleHeader .articleMeta .articleMetaItem {
  display: inline-block;
  margin-right: 1rem;
}
.articleHeader .articleMeta a {
  color: inherit;
  text-decoration: inherit;
}
.articleHeader .articleCover img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
@media only screen and (min-width: 48rem) {
  .articleHeader .articleCover img {
    max-width: 48rem;
  }
}
@media only screen and (min-width: 62rem) {
  .articleHeader .articleCover img {
    max-width: 52rem;
  }
}
@media only screen and (min-width: 75rem) {
  .articleHeader .articleCover img {
    max-width: 64rem;
  }
}
.articleBody {
  font-size: 1.125rem;
  line-height: 1.618;
}
.articleBody h1,
.articleBody h2,
.articleBody h3,
.articleBody h4,
.articleBody h5,
.articleBody h6 {
  margin-top: 1.618em;
}
.articleBody p {
  margin-bottom: 1.618em;
}
.articleBody p code {
  background-color: #d2dae2;
  color: #000;
  padding: .125rem .25rem;
}
.articleBody pre.wp-block-code {
  margin-bottom: 1.618em;
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-top: -1rem;
}
@media only screen and (min-width: 36rem) {
  .articleBody pre.wp-block-code {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media only screen and (min-width: 62rem) {
  .articleBody pre.wp-block-code {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
.articleBody pre.wp-block-code code {
  background-color: #d2dae2;
  color: #000;
  display: block;
  padding: .5rem 1rem;
}
.articleBody ul li,
.articleBody ol li {
  margin-bottom: .618em;
}
.articleBody img {
  height: auto;
  max-width: 100%;
}
@media only screen and (min-width: 62rem) {
  .articleBody {
    font-size: 1.3125rem;
  }
}

/* single article */
.article.articleSingle .articleBody .droppedLetters {
  background-color: #d2dae2;
  float: left;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 .5rem 0 0;
  padding: .0625rem .75rem;
}

/* page article */
