body {
  font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

#header {
  font-family: 'Cabin', sans-serif;
}
#header .nav-social .nav-item {
  filter: saturate(.45);
  transition: filter .25s;
}
#header .nav-social .nav-item:hover {
  filter: none;
}

#main {
  margin-top: 4rem;
}

.article-container {
  margin: auto;
  max-width: 44rem;
}
.article-body {
  font-size: 1.125rem;
}
.article-body img {
  height: auto;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .article-body {
    font-size: 1.3125rem;
  }
}
