/* globals */
body {
  font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

/* header */
#header {
  font-family: 'Cabin', sans-serif;
}
#header .nav-social .nav-item {
  filter: saturate(.45);
  transition: filter .25s;
}
#header .nav-social .nav-item:hover {
  filter: none;
}

/* main section */
#main {
  margin-top: 4rem;
}

/* footer section */

/* article related - single/page */
.article-container {
  margin: auto;
  max-width: 44rem;
}
.article-header .article-title {
  font-size: 2.125rem;
}
.article-header .article-subtitle {
  color: #757575;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
}
.article-header .article-cover img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
@media only screen and (min-width: 48rem) {
  .article-header .article-cover img {
    max-width: 48rem;
  }
}
@media only screen and (min-width: 62rem) {
  .article-header .article-cover img {
    max-width: 52rem;
  }
}
@media only screen and (min-width: 75rem) {
  .article-header .article-cover img {
    max-width: 64rem;
  }
}
.article-header .article-meta {
  color: #757575;
}
.article-header .article-meta a {
  color: inherit;
  text-decoration: inherit;
}
.article-body {
  font-size: 1.125rem;
  line-height: 1.618;
}
.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  margin-top: 1.618em;
}
.article-body p {
  margin-bottom: 1.618em;
}
.article-body ul li,
.article-body ol li {
  margin-bottom: .618em;
}
.article-body img {
  height: auto;
  max-width: 100%;
}
@media only screen and (min-width: 62rem) {
  .article-body {
    font-size: 1.3125rem;
  }
}

/* single article */
.article.article-single .article-body .droppedLetters {
  background-color: #d2dae2;
  float: left;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 .5rem 0 0;
  padding: .0625rem .75rem;
}

/* page article */
